PORT=8080
SSL_PORT=443
REBUILD_AT=1 0 * * *
PUSH_SECRET=d5a7c0d0c897665588cd0844744e3109
API_ALLOW=0.0.0.0/0

NOTIFY_DEBUG=1

NOTIFY_HIPCHAT=1
HIPCHAT_API=https://hipchat.server.com/
HIPCHAT_ROOM=123
HIPCHAT_TOKEN=XTlyCeYH8rFhgjA4sJ8tu8UBnYhrmFOTPr5gM3J0

NOTIFY_SLACK=1
SLACK_ROOM=dev
SLACK_URL=https://hooks.slack.com/services/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